.header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding:0 20px;
    border: 1px solid thistle;
    justify-content: space-between;
}
.username{
    
    
}
.header__button{
    border: 1px solid;
    border-radius: 1rem;
}